AMSapplication/ClsRampdb/Web References/Synchronize/Synchronise.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SyncTables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sTableName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncTablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncTablesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="dtOutDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncTableswithItemLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sTableName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Itemlimit" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncTableswithItemLimitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncTableswithItemLimitResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="dtOutDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAssets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtTable">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAssetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddAssetsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TagWrite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtTable">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TagWriteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TagWriteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyAssets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtTable">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyAssetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModifyAssetsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InventoryCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtClientTbl">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InventoryCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InventoryCheckResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FieldServiceCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtTable">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FieldServiceCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FieldServiceCheckResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtTable">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddLocationResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPerformedTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtTable">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPerformedTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddPerformedTaskResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFS_AssetStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtTable">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFS_AssetStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateFS_AssetStatusResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFS_AssetStatus1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_FSAssetStaus" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="FSStatus" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TaskStatus" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ModifiedBy" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFS_AssetStatus1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateFS_AssetStatus1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFSStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtTable">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFSStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFSStatusResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtTable">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddEmployeeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFSbyLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_Location" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFSbyLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFSbyLocationResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SyncTablesSoapIn">
    <wsdl:part name="parameters" element="tns:SyncTables" />
  </wsdl:message>
  <wsdl:message name="SyncTablesSoapOut">
    <wsdl:part name="parameters" element="tns:SyncTablesResponse" />
  </wsdl:message>
  <wsdl:message name="SyncTableswithItemLimitSoapIn">
    <wsdl:part name="parameters" element="tns:SyncTableswithItemLimit" />
  </wsdl:message>
  <wsdl:message name="SyncTableswithItemLimitSoapOut">
    <wsdl:part name="parameters" element="tns:SyncTableswithItemLimitResponse" />
  </wsdl:message>
  <wsdl:message name="AddAssetsSoapIn">
    <wsdl:part name="parameters" element="tns:AddAssets" />
  </wsdl:message>
  <wsdl:message name="AddAssetsSoapOut">
    <wsdl:part name="parameters" element="tns:AddAssetsResponse" />
  </wsdl:message>
  <wsdl:message name="TagWriteSoapIn">
    <wsdl:part name="parameters" element="tns:TagWrite" />
  </wsdl:message>
  <wsdl:message name="TagWriteSoapOut">
    <wsdl:part name="parameters" element="tns:TagWriteResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyAssetsSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyAssets" />
  </wsdl:message>
  <wsdl:message name="ModifyAssetsSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyAssetsResponse" />
  </wsdl:message>
  <wsdl:message name="InventoryCheckSoapIn">
    <wsdl:part name="parameters" element="tns:InventoryCheck" />
  </wsdl:message>
  <wsdl:message name="InventoryCheckSoapOut">
    <wsdl:part name="parameters" element="tns:InventoryCheckResponse" />
  </wsdl:message>
  <wsdl:message name="FieldServiceCheckSoapIn">
    <wsdl:part name="parameters" element="tns:FieldServiceCheck" />
  </wsdl:message>
  <wsdl:message name="FieldServiceCheckSoapOut">
    <wsdl:part name="parameters" element="tns:FieldServiceCheckResponse" />
  </wsdl:message>
  <wsdl:message name="AddLocationSoapIn">
    <wsdl:part name="parameters" element="tns:AddLocation" />
  </wsdl:message>
  <wsdl:message name="AddLocationSoapOut">
    <wsdl:part name="parameters" element="tns:AddLocationResponse" />
  </wsdl:message>
  <wsdl:message name="AddPerformedTaskSoapIn">
    <wsdl:part name="parameters" element="tns:AddPerformedTask" />
  </wsdl:message>
  <wsdl:message name="AddPerformedTaskSoapOut">
    <wsdl:part name="parameters" element="tns:AddPerformedTaskResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFS_AssetStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFS_AssetStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateFS_AssetStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFS_AssetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFS_AssetStatus1SoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFS_AssetStatus1" />
  </wsdl:message>
  <wsdl:message name="UpdateFS_AssetStatus1SoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFS_AssetStatus1Response" />
  </wsdl:message>
  <wsdl:message name="AddFSStatusSoapIn">
    <wsdl:part name="parameters" element="tns:AddFSStatus" />
  </wsdl:message>
  <wsdl:message name="AddFSStatusSoapOut">
    <wsdl:part name="parameters" element="tns:AddFSStatusResponse" />
  </wsdl:message>
  <wsdl:message name="AddEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="AddEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetFSbyLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetFSbyLocation" />
  </wsdl:message>
  <wsdl:message name="GetFSbyLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetFSbyLocationResponse" />
  </wsdl:message>
  <wsdl:portType name="SynchroniseSoap">
    <wsdl:operation name="SyncTables">
      <wsdl:input message="tns:SyncTablesSoapIn" />
      <wsdl:output message="tns:SyncTablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncTableswithItemLimit">
      <wsdl:input message="tns:SyncTableswithItemLimitSoapIn" />
      <wsdl:output message="tns:SyncTableswithItemLimitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAssets">
      <wsdl:input message="tns:AddAssetsSoapIn" />
      <wsdl:output message="tns:AddAssetsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TagWrite">
      <wsdl:input message="tns:TagWriteSoapIn" />
      <wsdl:output message="tns:TagWriteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyAssets">
      <wsdl:input message="tns:ModifyAssetsSoapIn" />
      <wsdl:output message="tns:ModifyAssetsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InventoryCheck">
      <wsdl:input message="tns:InventoryCheckSoapIn" />
      <wsdl:output message="tns:InventoryCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FieldServiceCheck">
      <wsdl:input message="tns:FieldServiceCheckSoapIn" />
      <wsdl:output message="tns:FieldServiceCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddLocation">
      <wsdl:input message="tns:AddLocationSoapIn" />
      <wsdl:output message="tns:AddLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPerformedTask">
      <wsdl:input message="tns:AddPerformedTaskSoapIn" />
      <wsdl:output message="tns:AddPerformedTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFS_AssetStatus">
      <wsdl:input message="tns:UpdateFS_AssetStatusSoapIn" />
      <wsdl:output message="tns:UpdateFS_AssetStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFS_AssetStatus1">
      <wsdl:input message="tns:UpdateFS_AssetStatus1SoapIn" />
      <wsdl:output message="tns:UpdateFS_AssetStatus1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFSStatus">
      <wsdl:input message="tns:AddFSStatusSoapIn" />
      <wsdl:output message="tns:AddFSStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input message="tns:AddEmployeeSoapIn" />
      <wsdl:output message="tns:AddEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFSbyLocation">
      <wsdl:input message="tns:GetFSbyLocationSoapIn" />
      <wsdl:output message="tns:GetFSbyLocationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SynchroniseSoap" type="tns:SynchroniseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncTables">
      <soap:operation soapAction="http://tempuri.org/SyncTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncTableswithItemLimit">
      <soap:operation soapAction="http://tempuri.org/SyncTableswithItemLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAssets">
      <soap:operation soapAction="http://tempuri.org/AddAssets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TagWrite">
      <soap:operation soapAction="http://tempuri.org/TagWrite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyAssets">
      <soap:operation soapAction="http://tempuri.org/ModifyAssets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InventoryCheck">
      <soap:operation soapAction="http://tempuri.org/InventoryCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FieldServiceCheck">
      <soap:operation soapAction="http://tempuri.org/FieldServiceCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLocation">
      <soap:operation soapAction="http://tempuri.org/AddLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerformedTask">
      <soap:operation soapAction="http://tempuri.org/AddPerformedTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFS_AssetStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateFS_AssetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFS_AssetStatus1">
      <soap:operation soapAction="http://tempuri.org/UpdateFS_AssetStatus1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFSStatus">
      <soap:operation soapAction="http://tempuri.org/AddFSStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFSbyLocation">
      <soap:operation soapAction="http://tempuri.org/GetFSbyLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SynchroniseSoap12" type="tns:SynchroniseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncTables">
      <soap12:operation soapAction="http://tempuri.org/SyncTables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncTableswithItemLimit">
      <soap12:operation soapAction="http://tempuri.org/SyncTableswithItemLimit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAssets">
      <soap12:operation soapAction="http://tempuri.org/AddAssets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TagWrite">
      <soap12:operation soapAction="http://tempuri.org/TagWrite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyAssets">
      <soap12:operation soapAction="http://tempuri.org/ModifyAssets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InventoryCheck">
      <soap12:operation soapAction="http://tempuri.org/InventoryCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FieldServiceCheck">
      <soap12:operation soapAction="http://tempuri.org/FieldServiceCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLocation">
      <soap12:operation soapAction="http://tempuri.org/AddLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerformedTask">
      <soap12:operation soapAction="http://tempuri.org/AddPerformedTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFS_AssetStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateFS_AssetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFS_AssetStatus1">
      <soap12:operation soapAction="http://tempuri.org/UpdateFS_AssetStatus1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFSStatus">
      <soap12:operation soapAction="http://tempuri.org/AddFSStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap12:operation soapAction="http://tempuri.org/AddEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFSbyLocation">
      <soap12:operation soapAction="http://tempuri.org/GetFSbyLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Synchronise">
    <wsdl:port name="SynchroniseSoap" binding="tns:SynchroniseSoap">
      <soap:address location="http://vijay/rampService/Synchronise.asmx" />
    </wsdl:port>
    <wsdl:port name="SynchroniseSoap12" binding="tns:SynchroniseSoap12">
      <soap12:address location="http://vijay/rampService/Synchronise.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>